# Node
node_modules/
dist/
.pnp
.pnp.js

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local
backend/.env

# Build output
dist/
build/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Misc
*.class
*.py[cod]
*.jar
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
TEST*.xml